<div *ngIf="joueur">
  <h2 class="h1">{{joueur.pseudonyme}}</h2>
  <div class="bg-light p-3 card">
    <div class="mb-3 mt-3">
      <label for="hero-name" class="form-label">Pseudonyme: </label>
      <input id="hero-name" class="form-control" [(ngModel)]="joueur.pseudonyme" placeholder="name" disabled="disabled">
    </div>
    <div class="d-flex">
      <button type="button" (click)="goBack()" class="btn btn-secondary flex-fill m-1">Retour</button>
      <button type="button" (click)="goBack()" class="btn btn-primary flex-fill m-1" disabled="disabled">Modifier</button>
    </div>
  </div>
</div>